  <h1>All Bookmarks</h1>
  <div class="">
    <%= link_to "Add Topic", new_topic_path, class: 'btn btn-success' %>
  </div>
  <% @topics.each do |topic| %>
    <h3><%= link_to topic.title, topic %></h3>
  <% end %>
