<div class="col-md-2 col-md-offset-2">
  <h2>Add Topic</h2>
  <%= form_for @topic do |f| %>
    <div class="form-group">

      <%= f.text_field :title, class: 'form-control', placeholder: "Enter topic title" %>
    </div>
    <%= f.submit "Save", class: 'btn btn-success' %>
  <% end %>
</div>
